@import '_common.scss';

.title{
    margin: 100px 15px 20px;
    color: $b;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    position: relative;
    &::before{
        content: attr(data-content);
        position: absolute;
        left: -2px; top: 0;
        text-shadow: -2px 0 #00ff00;
        width: 100%;
        color: rgba(0,53,148,.8);
        overflow: hidden;
        clip: rect(0, 500px, 0, 0);
        animation: noise-anim 3s infinite linear alternate-reverse;
    }
    &::after{
        content: attr(data-content);
        position: absolute;
        left: -2px; top: 0;
        text-shadow: 2px 0 #ff00ff;
        color: rgba(0,53,148,.8);
        width: 100%;
        overflow: hidden;
        clip: rect(0, 500px, 0, 0);
        animation: noise-anim-2 3s infinite linear alternate-reverse;
    }
}
.logtype{
    width: 100%;
    padding: 30px 14px 10px;
    ul{
        display: flex;
        border-bottom: 2px solid $sbw;
        li{
            width: 50%;
            padding-bottom: 10px;
            display: inline-block;
            text-align: center;
        }
        li.active{
            border-bottom: 2px solid $b;
            transform: translateY(2px);
        }
    }   
}
form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    input{
        padding: 8px 6px;
        border-bottom: 1px solid $sbw;
    }
    button{
        margin: 16px 0;
        padding: 12px;
        font-size: 14px;
        font-weight: bold;
        color: $w;
        background-color: $mc;
        border-radius: 40px;
    }
}
.mem{
    margin: 0 14px;
    form{
        label{
            padding: 12px 0;
            line-height: center;
            cursor: pointer;
            input[type="radio"]{
                display: none;
            }
            input[type="radio"]+span{
                margin-left: 28px;
                position: relative;
            }
            input[type="radio"] + span::after{
                content: '';
                width: 20px; height: 20px;
                border: 1px solid $b;
                border-radius: 100%;
                position: absolute;
                left: -28px; top: -1px;
            }
            input[type="radio"]:checked + span::after{
                background: url('../img/login/m-checkbox-on.png') no-repeat center;
                background-size: 100%;
            }
        }
    }
    .mem-join{
        text-align: center;
        padding: 0 auto;
        a{
            margin: 0 14px;
            color: $sb;
            position: relative;
        }
        a:nth-of-type(1),a:nth-of-type(2){
            &::after{
                content: '';
                height: 10px;
                border: 1px solid $sbw;
                transform: scaleX(.5);
                position: absolute;
                right: -18px; top: 4px;
            }
        }
    }
    section{
        margin: 24px 0;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            margin: 12px 0;
            font-size: 18px;
            font-weight: 400;
        }
        a{
            margin: 6px 0;
        }
    }
    // display: none;
}
.nomem{
    margin: 0 20px;
    margin-bottom: 80px;

    div{
        margin: 14px 0;
        font-size: 16px;
        letter-spacing: -0.5px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
    }
    display: none;
}